* {
    box-sizing: border-box;
    font-family:monospace;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    height: 500px;
    max-width: 80%;
    background-color: aqua;
    border-radius: 20px 0px 0px 20px;
    padding: 15px;
}
.container-data {
    width: 100px;
    height: 500px;
    max-width: 80%;
    background-color: aqua;
    border-radius: 0px 0px 0px 0px;
    padding: 15px;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
}
.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;

}

.btn {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.startBtn {
    font-size: 50px;
    font-weight: bold;
    align-items: center;
    display: flex;
   
}

.hide {
    display: none;
}

.nextBtn {
    margin: 40%;
}

.startBtn{
    margin: 30%;
}

.question{
    margin: 50%;
}
 
.score{
    margin: 10%;
    padding:10%;
}
.time{
    margin: 10%;
    padding:10%;
}